// Your custom settings file to override Foundation defaults
@import "settings";
@import "ungcancer";

// Comment out this import if you are customizing you imports below
@import "foundation";

footer {
	border-top: 1px solid $purpleDark;
	color: $purpleDark;
	a {
		color: $purpleDark;
		&:hover, &:visited {
			color: $purpleDark;
		}
	}
}
