// Your custom settings file to override Foundation defaults
@import "settings";
@import "ungcancer";

// Comment out this import if you are customizing you imports below
@import "foundation";

@import "compass/css3/box-shadow";
@import "compass/css3/transform";

footer, .footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: $white;
	border-top: 1px solid $purpleDark;
	height: 30px;
	color: $purpleDark;
	ul.inline-list {
		li {
			line-height: 24px;
		}
	}
	a {
		color: $purpleDark;
		&:hover, &:visited {
			color: $purpleDark;
		}
	}
}

ul.extra-padding {
	li {
		padding-bottom: 1em;
	}
}

.row {
	z-index: 1;
	&.title {
		//@include rotate(-1deg);
		width: 100%;
		@include single-box-shadow($grayDark, 0, 4px, 10px);
		z-index: 9;
		&.active {
			//@include rotate(0deg);
		}
	}
	&.title, &.blue, &.cyan, &.green, &.yellow, &.pink {
		color: $white;
		position: relative;
		h1, h2, h3, h4, h5, h6, label, .tabs dd a, .tabs li a {
			color: $white;
			a {
				color: $white;
			}
		}
		.tabs dd.active a, .tabs li.active a {
			color: $black;
		}
		label {
			font-weight: 600;
		}
		.bottom {
			margin-left: auto;
			margin-right: auto;
			border-left: 300px solid transparent;
			border-right: 300px solid transparent;
			border-top-width: 6px;
			border-top-style: solid;
			&.yellow {
				border-top-color: $yellow;
			}
			&.green {
				border-top-color: $green;
			}
		}
	}
	&.blue {
		background: $blue;
	}
	&.cyan {
		background: $cyan;
	}
	&.green {
		background: $green;
	}
	&.yellow {
		background: $yellow;
	}
	&.pink {
		background: $pink;
	}
}

body {
	&.blue {
		background: $blue;
	}
	&.cyan {
		background: $cyan;
	}
	&.green {
		background: $green;
	}
	&.yellow {
		background: $yellow;
	}
}

#search-bar {
	padding: 36px 0px 44px 0px;
}

.button.dropdown.active:after { content: ""; display: block; width: 0; height: 0; border: solid 6px; border-color: transparent transparent white transparent; position: absolute; top: 50%; right: 20px; margin-top: -8px; }