# Mac
.DS_Store

# CodeIgniter
*/config/development
*/logs/log-*.php
application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

# Compass
.sass-cache
.sonar
