[submodule "sparks/breadcrumb/1.0.0"]
	path = sparks/breadcrumb/1.0.0
	url = git://github.com/richarddavey/codeigniter-breadcrumb.git
[submodule "sparks/foundation/0.6.3"]
	path = sparks/foundation/0.6.3
	url = git://github.com/nyfagel/codeigniter-foundation-spark.git
[submodule "sparks/messages/1.0.3"]
	path = sparks/messages/1.0.3
	url = git://github.com/segersjens/CodeIgniter-Message-Library.git
[submodule "sparks/morehtml/0.3.3"]
	path = sparks/morehtml/0.3.3
	url = git://github.com/nyfagel/codeigniter-morehtml-spark.git
[submodule "sparks/simple-assets/1.1.0"]
	path = sparks/simple-assets/1.1.0
	url = git://github.com/segersjens/CodeIgniter-Simple-Assets.git
